@import "./themes/dark-theme.scss";

$badge-background-color: $badge-background-color;
$badge-text-color: $badge-text-color;

$message-main-color: rgb(97, 52, 168);
$message-alternative-color: rgb(108, 59, 187);
$message-text-color: white;
