@import "../../shared/scss/color.scss";

.message {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px 0px 0px 0px;
  background-color: $message-main-color;
  border-radius: 10px;
  color: $message-text-color;
}

.header {
  font-weight: bold;
}

.holder {
  display: flex;
  flex-direction: column;
  background-color: $message-alternative-color;
  padding: 10px;
  border-radius: 10px;
}

.body {
}

.footer {
  margin-top: 10px;
  align-self: flex-end;
}
